/*Style sheet for aja's loc journey site*/
html {
  font-size: 10px; /*just trying out the comment function*/
  font-family: "Akaya Telivigala", cursive;
  background-color: rgb(163, 128, 187);
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0 0;
  border: 5px solid black;
  background-color: rgb(247, 241, 234);
}

h1 {
  color: rgb(226, 49, 226);
  text-shadow: 3px 3px 1px black;
  font-size: 50px;
  text-align: center;
  line-height: 100%;
  margin: 0;
  padding: 1% 0 0 0;
}

section {
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: 1px;
  background-color: rgb(65, 177, 241);
}

p {
  padding: 0 2%;
  text-align: center;
}

nav {
  position: relative;
}

.header {
  text-decoration: none;
  text-align: center;
  background: rgb(65, 177, 241, 0.7);
  color: rgb(226, 49, 226);
  text-shadow: 2px 2px 1px black;
  font: 1em sans-serif;
  display: inline-block;
  float: left;
  font-size: 135%;
  line-height: 10%;
  padding: 0.5em 1em;
  margin: 5px;
}

.logo {
  width: 20%;
  height: auto;
  margin: 0 auto;
  margin: 0;
  float:left;
}

.header:hover {
  color: rgb(249, 246, 250);
  background: rgb(163, 128, 187);
}

.current {
  color: rgb(65, 177, 241, 0.7);
  background: rgb(65, 177, 241, 0.7);
  color: rgb(226, 49, 226);
  border: 3px solid #000000;
  font: 1em sans-serif;
  font-size: 135%;
  line-height: 10%;
  padding: 0.5em 1em;
  text-decoration: none;
  display: inline-block;
  float: left;
}

.current:hover {
  color: rgb(249, 246, 250);
  background: rgb(163, 128, 187);
}

header {
  top: 0;
  width: 100%;
  font-size: 14px;
  padding-bottom: 25px;
}

img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin: 0;
}
nav ul {
  list-style-type: none;
}

nav li {
  position: relative;
}

/*Sub menus*/

nav > ul > li {
  text-align: center;
}

nav > ul > li > a {
  padding-left: 0;
}

nav li ul {
  position: absolute;
  top: 25px;
  left: 55px;
  display: none;
  width: inherit;
}

nav li:hover ul {
  display: block;
}

nav li ul li {
  display: block;
}
/*Sub menus*/

footer {
  display: block;
  clear: both;
  margin: 0 auto;
  padding: 0 41%;
}

hr {
  clear: both;
}

aside.connect {
  position: fixed;
  bottom: 50%;
  right: 0;
  width: 30px;
  background: rgba(0, 0, 0, 0.5);
  padding: 2px 90px 2px 0px;
}

aside ul {
  list-style-type: none;
}

div.care {
  clear: both;
  margin-bottom: 100px;
}

div.wash {
  clear: both;
}

.topleft {
  display: inline-block;
  float: left;
  width: 48%;
  margin-right: 2%;
}

.topright {
  display: inline-block;
  float: right;
  width: 46%;
  padding: 2%;
  background: #666666;
  background: -moz-linear-gradient(top, #d740eb 0%, #00b7ea 100%);
  background: -webkit-linear-gradient(top, #d740eb 0%, #00b7ea 100%);
  background: -o-linear-gradient(top, #d740eb 0%, #00b7ea 100%);
  background: -ms-linear-gradient(top, #d740eb 0%, #00b7ea 100%);
  background: linear-gradient(top, #d740eb 0%, #00b7ea 100%);
}

.bottomleft {
  display: inline-block;
  float: left;
  width: 46%;
  padding: 2%;
  background: #666666;
  background: -moz-linear-gradient(top, #d740eb 0%, #00b7ea 100%);
  background: -webkit-linear-gradient(top, #d740eb 0%, #00b7ea 100%);
  background: -o-linear-gradient(top, #d740eb 0%, #00b7ea 100%);
  background: -ms-linear-gradient(top, #d740eb 0%, #00b7ea 100%);
  background: linear-gradient(top, #d740eb 0%, #00b7ea 100%);
}

.bottomright {
  display: inline-block;
  float: right;
  width: 48%;
  margin-right: 2%;
}

section.top {
  clear: both;
  background: #ffffff;
}

video {
  display: block;
  margin: 0 auto;
}

iframe {
  display: block;
  margin: 0 auto;
}
