/*Style sheet for aja's loc journey site*/
html {
  font-size: 100%; /*just trying out the comment function*/
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0 0;
  background-color: rgb(255, 255, 255);
}

p {
  font-size: 1.3em;
  text-align: left;
}

h1 {
  color: rgb(27, 19, 27);
  font-size: 2.5em;
  text-align: center;
  line-height: 100%;
  padding: 1% 0 0 0;
}

div p {
  text-align: center;
}

section {
  text-align: center;
  line-height: 1.5;
  background-color: #edfafc;
}

section p {
  padding: 0 2%;
  text-align: left;
}

nav {
  height: 225px;
  width: 106%;
  margin: 0 auto;
  padding-top: 2%;
  background-color: #8e68ff;
  border: 5px solid black;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav li {
  width: 20%;
  height: 60px;
  line-height: 20px;
  display: inline-block;
}

.header {
  color: rgb(255, 255, 255);
  font-size: 1.5em;
}

.logo {
  width: 125%;
  height: auto;
  display: inline-block;
  float: left;
  padding-top: 8%;
  margin-left: 2%;
  clear: both;
}

.header:hover {
  color: rgb(249, 246, 250);
  background: rgb(163, 128, 187);
}

.current {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 1px black;
  font-size: 1.5em;
  transition: 0.5s background-color;
  text-decoration: none;
}

.current:hover {
  color: rgb(249, 246, 250);
  background: rgb(163, 128, 187);
}

img {
  width: 50%;
  height: auto;
  margin: 0 auto;
}

@media screen and (min-width: 300px) {
  .samples img {
    width: 50%;
    height: auto;
    margin: 0 auto;
  }
}

@media screen and (min-width: 900px) {
  .samples img {
    width: 15%;
    height: auto;
    margin: 0 auto;
  }
}

/*Sub menus*/

nav li li {
  font-size: 0.7em;
  width: 100%;
}

nav > ul > li {
  text-align: center;
}

nav > ul > li > a {
  text-align: center;
}

nav li ul {
  position: absolute;
  display: none;
  width: inherit;
}

nav li:hover ul {
  display: block;
  text-align: center;
}

nav li ul li {
  display: block;
  text-align: center;
}
/*Sub menus*/

footer {
  clear: both;
  text-align: center;
  padding-bottom: 1%;
}

hr {
  clear: both;
}

@media screen and (min-width: 300px) {
  #connect {
    position: fixed;
    bottom: 0%;
    background: rgba(255, 255, 255, 0.5);
    font-size: 3em;
    text-align: center;
  }
}

@media screen and (min-width: 300px) {
  #icons {
    display: inline-block;
    float: left;
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  #connect {
    position: fixed;
    bottom: 50%;
    right: 0;
    width: 30px;
    background: rgba(255, 255, 255, 0.5);
    padding: 2px 56px 2px 0px;
    font-size: 3em;
    color: rgb(0, 0, 0);
    text-align: center;
  }
}

#instagram #youtube #mail {
  color: rgb(0, 0, 0);
}

@media screen and (min-width: 300px) {
  #xButton {
    text-align: center;
    font-size: 0.5em;
  }
}

@media screen and (min-width: 900px) {
  #xButton {
    text-align: center;
    font-size: 0.6em;
  }
}

#xButton:hover {
  background-color: coral;
}

div.samples {
  clear: both;
  margin-bottom: 100px;
}

video {
  display: block;
  margin: 0 auto;
}

iframe {
  display: block;
  margin: 0 auto;
}

.years {
  width: 70%;
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 300px) {
  #image {
    line-height: 300px;
    width: 106%;
    height: auto;
    border: 5px solid black;
    background-color: #8e68ff;
    background-image: url("");
    background-repeat: no-repeat;
    color: #ffffff;
    text-shadow: 2px 2px 1px black;
    text-align: center;
    background-size: 60%;
    margin-bottom: 25px;
    font-size: 1.4em;
    display: block;
    margin: 0 auto;
  }
}

@media screen and (min-width: 900px) {
  #image {
    line-height: 400px;
    width: 106%;
    height: auto;
    border: 5px solid black;
    background-color: #8e68ff;
    background-image: url("");
    background-repeat: no-repeat;
    color: #ffffff;
    text-shadow: 2px 2px 1px black;
    text-align: center;
    background-size: 20%;
    margin-bottom: 25px;
    font-size: 2em;
    display: block;
    margin: 0 auto;
  }
}

@media screen and (min-width: 300px) {
  .preview {
    width: 20%;
    margin: 2%;
    margin-left: 18%;
    border: 5px solid black;
    display: inline-block;
    float: left;
  }
}

@media screen and (min-width: 900px) {
  .preview {
    width: 5%;
    margin: 2%;
    margin-left: 30%;
    border: 5px solid black;
    display: inline-block;
    float: left;
  }
}
